# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
Assets/AssetStoreTools*

sysinfo.txt
*.stackdump

# ===== #
# Wwise #
# ===== #
Drifts/drift_sound/.cache
Drifts/drift_sound/Originals

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
.consulo/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
*.svd
*.tmp
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Unity
*.pidb.meta
*.apk
*.unitypackage
sysinfo.txt